<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
	<title th:text="#{user}+#{title.delete.complete}+' | '+ #{shop.title}"> </title>
<meta charset="UTF-8" />
</head>
<body class="admin user_delete_complete_admin">
<div class="complete-container">

    <div class="complete-card">

        <div class="check-icon">
            ✓
        </div>

        <h1>会員削除完了</h1>

        <p>
     会員情報の削除が完了しました。
        </p>

        <a  th:href="@{/admin/user/list}" class="home-btn">
            ホームへ戻る
        </a>

    </div>

</div>
	

	</body>
</html>

