<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4blockAdmin :: layout(~{::title},~{::body/content()})}">

<head>
	<title>景品一覧 | [[#{shop.title}]]</title>
	<meta charset="UTF-8" />
</head>

<body class="admin prize_list_admin">

<div id="adminOrderList">

	<h2 class="title">景品一覧</h2>
	
	<!--新規景品追加-->
	<form th:action="@{/admin/prize/regist/input}" method="post" class="sign_up_form">
	    <input type="submit" value="景品新規登録" class="menu_button">
	</form>

	<!-- 景品が0件 -->
	<div th:if="${#lists.isEmpty(prizes)}">
		<p>景品が登録されていません。</p>
	</div>

	<!-- 一覧 -->
	<div class="item_list_table">
		<table class="list_table" th:if="!${#lists.isEmpty(prizes)}">

			<tr>
				<th>ID</th>
				<th>景品名</th>
				<th>必要ポイント</th>
				<th>操作</th>
			</tr>

			<tr th:each="prize : ${prizes}">
				<td th:text="${prize.id}"></td>

				<td th:text="${prize.name}"></td>

				<td th:text="${prize.requiredPoint} + ' pt'"></td>

				<td>
					<form th:action="@{/admin/prize/update/input/{id}(id=${prize.id})}" method="post">
						<input type="submit" value="変更" class="changeBtn"/>
					</form>
				
				    <form th:action="@{/admin/prize/delete}" method="post" onsubmit="return confirm('この景品を削除しますか？');">
				        <input type="hidden" name="id" th:value="${prize.id}">
				        <input type="submit" value="削除" class="deleteBtn">
				    </form>
				</td>
			</tr>

		</table>
	</div>

</div>


</body>
</html>