<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
    <title>景品変更確認 | [[#{shop.title}]]</title>
    <meta charset="UTF-8" />
</head>

<body class="admin prize_update_check">

    <h2 class="title">景品変更確認</h2>
<div id ="adminItemUpdateCheck">
    <div class="user_info_form_area">
    <p class="check_message">以下の内容で更新します。</p>

        <ul class="input_list">

            <li>
                <span class="input_title">景品名</span>
                <span class="input_value" th:text="${prizeForm.name}"></span>
            </li>

            <li>
                <span class="input_title">必要ポイント</span>
                <span class="input_value" th:text="${prizeForm.requiredPoint} + ' pt'"></span>
            </li>

            <li>
                <span class="input_title">画像</span>
                <span class="input_value">
                    <img th:if="${prizeForm.image != null}"
                         th:src="@{/images/{image}(image=${prizeForm.image})}" />

                    <img th:if="${prizeForm.image == null}"
                         th:src="@{/images/common/no_image.jpg}" />
                </span>
            </li>

            <li>
                <span class="input_title">説明</span>
                <span class="input_value" th:text="${prizeForm.description}"></span>
            </li>

        </ul>

        <form th:action="@{/admin/prize/update/complete}" method="post" class="user_info_form">
            <input type="submit" value="更新" class="send_button" />
        </form>

        <form th:action="@{/admin/prize/update/input}" method="get">
            <input type="submit" value="戻る" class="back_button" />
        </form>

    </div>
</div>
</body>
</html>