
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{user}+'情報'+#{title.update.input}+' | '+#{shop.title}"></title>
	<meta charset="UTF-8" />
</head>

<body class="user user_update_input">
	<h2 class="title" th:text="#{user}+'情報'+#{title.update.input}"></h2>
	<p style="margin:auto; text-align:center;" th:class="input_message" th:text="#{msg.update.input}"></p>
 <div id="NewUserForm"> 
	<div class="user_info_form_area">

		<form th:action="@{/client/user/update/check}" method="post" class="user_info_form" th:object="${userForm}">

			<ul class="input_list">
				<li>
					<div th:if="${oldEmailErrorMessage}" th:text="${oldEmailErrorMessage}"
						style="color: red; font-size: 0.9em; font-weight: bold; display: block; margin-bottom: 4px;">
					</div>
					<label><span class="input_title" th:text="#{userForm.email}"></span></label>
					<input type="text" name="oldEmail" th:value="${oldEmail}" />
				</li>
				<li>
					<div th:if="${oldPasswordErrorMessage}" th:text="${oldPasswordErrorMessage}"
						style="color: red; font-size: 0.9em; font-weight: bold; display: block; margin-bottom: 4px;">
					</div>
					<label><span class="input_title" th:text="#{userForm.password}"></span></label>
					<input type="password" name="oldPassword" />
				</li>
			</ul>

			<ul class="input_list">
				<li>
					<label><span class="input_title">新しい[[#{userForm.email}]]</span></label>
					<input type="text" name="newEmail" th:value="${newEmail}" />
				</li>

				<li>
					<label><span class="input_title">新しい[[#{userForm.password}]]</span></label>
					<input type="password" name="newPassword" />
				</li>

				<li>
					<div th:if="${#fields.hasErrors('name')}" th:text="#{msg.regist.input}"
						style="color: red; font-size: 0.9em; font-weight: bold; display: block; margin-bottom: 4px;">
					</div>
					<label><span class="input_title" th:text="#{userForm.name}"></span></label>
					<input type="text" th:field="*{name}" />
				</li>
				<li>
					<div th:if="${#fields.hasErrors('postalCode')}" th:text="#{msg.regist.input}"
						style="color: red; font-size: 0.9em; font-weight: bold; display: block; margin-bottom: 4px;">
					</div>
					<label><span class="input_title" th:text="#{userForm.postalCode}"></span></label>
					<input type="text" th:field="*{postalCode}" />
				</li>
				<li>
					<div th:if="${#fields.hasErrors('address')}" th:text="#{msg.regist.input}"
						style="color: red; font-size: 0.9em; font-weight: bold; display: block; margin-bottom: 4px;">
					</div>
					<label><span class="input_title" th:text="#{userForm.address}"></span></label>
					<textarea rows="6" th:field="*{address}"></textarea>
				</li>
				<li>
					<div th:if="${#fields.hasErrors('phoneNumber')}" th:text="#{msg.regist.input}"
						style="color: red; font-size: 0.9em; font-weight: bold; display: block; margin-bottom: 4px;"></div>
					<label><span class="input_title" th:text="#{userForm.phoneNumber}"></span></label>
					<input type="text" th:field="*{phoneNumber}" />
				</li>
			</ul>

			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{authority}" />
			<input type="hidden" th:field="*{point}" />

			<input type="hidden" name="authority" value="2" />
						<input type="submit" value="確認" th:class="send_button" />
					</form>
					<form th:action="@{/}" method="post">
						<input type="submit" value="戻る" class="back_button" />
					</form>
				</div>
				</div>
			</body>

</html>