<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
<!--	<title>広告変更完了 | シェアードショップ</title>-->
	<title th:text="'広告変更完了 | '+ #{shop.title}"> </title>
</head>

<body class="admin ad_update_complete">
	<div class="complete-container">

    <div class="complete-card">

        <div class="check-icon">
            ✓
        </div>

        <h1>広告変更-完了</h1>

        <p>
            広告の変更が正常に完了しました。
        </p>

        <a  th:href="@{/admin/ad/list}" class="home-btn">
            ホームへ戻る
        </a>

    </div>

</div>
</body>
</html>


