<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4blockAdmin :: layout(~{::title},~{::body/content})}">

<head>
	<meta charset="UTF-8" />
	<!--	<title>広告一覧 | 管理画面</title>-->
	<title th:text="'カルーセル式カテゴリ一覧 | '+ #{shop.title}"> </title>
</head>

<body>
	<div th:fragment="content" class="admin ad_list">
		<div id="adminOrderList">
			<h2 th:class="title" th:text="#{admin.ad.category.list}"></h2>
			
			<div th:if="${promotions == null or #lists.isEmpty(promotions)}">
			    <p>カルーセル式カテゴリ情報は登録されていません。</p>
			</div>

			<form th:action="@{/admin/ad/regist/input}" method="post" class="sign_up_form">
				<input type="submit" value="カルーセル新規登録" class="menu_button" />
			</form>

			<table class="list_table" th:if="!${#lists.isEmpty(promotions)}">
				<thead>
					<tr>
						<th>[[#{data.id}]]</th>
						<th>[[#{ad.pageName}]]</th>
						<th>[[#{ad.isActive}]]</th>
						<th>[[#{data.operate}]]</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ad : ${promotions}">
						<td th:text="${ad.id}"></td>
						<td>
							<a th:href="@{/admin/ad/details/{id}(id=${ad.id})}" th:text="${ad.pageName}"></a>
						</td>
						<td>
							<span th:text="${ad.isActive == 1 ? '有効' : '無効'}"></span>
						</td>
						<td>
							<form th:action="@{/admin/ad/update/input/{id}(id=${ad.id})}" method="post"
								style="display:inline;">
								<input type="submit" class="changeBtn" value="変更" />
							</form>
							<form th:action="@{/admin/ad/delete/check/{id}(id=${ad.id})}" method="post"
								style="display:inline;">
								<input type="submit" value="削除" id="deleteBtn" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>