<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4blockpuls :: layout(~{::title},~{::body/content()})}">


<head>
	<title th:text=" ${pageName} + ' | '+ #{shop.title}"></title>
	<meta charset="UTF-8" />
</head>

<body class="user ad_page">

	<th:block th:if="${ad != null}">

		<div style="width:900px; margin-top:30px; margin-left:auto; margin-right:auto;">

			<!-- 広告タイトル  -->
			<div class="ad_title" style="width:100%; margin:auto; border:4px dotted black; text-align:center; ">
				<h1 th:text="${adTitle}"></h1>
			</div>
			
			<!-- 広告画像 -->
			<div class="ad_image"
				style="width:100%; max-height:300px; overflow:hidden; margin-top:10px; margin-right:auto; margin-left:auto; margin-bottom:0;">
				<img th:if="${ad.imageName != null}" th:src="@{/images/uploads/{image}(image=${ad.imageName})}"
					style="width:100%; height:auto;" />
				<img th:if="${imageName == null}" th:src="@{/images/common/no_image.jpg}" style="width:100%" />
			</div>

			<!-- 商品詳細 -->
			<div class="item_content" style="text-align:center">
				<table style="width:100%; margin:auto; table-layout:fixed;">
					<tr>
						<td>
							<dl class="ad_detail_list">
								<dd>
									<h3 style="font-size:20px;" th:text="${description}"></h3>
								</dd>
								<dd>
									<p>
										<a th:href="@{${targetUrl}}" th:text="${linkTexts}"></a>
									</p>
								</dd>
							</dl>
						</td>
						<td>
							<dl class="ad_item_image" style="max-width:200px; max-height:300px; overflow:hidden;">
								<img th:if="${headingImage != null}"
									th:src="@{/images/{image}(image=${headingImage})}" />
								<img th:if="${headingImage == null}" th:src="@{/images/common/no_image.jpg}" />
							</dl>
						</td>
					</tr>
				</table>
			</div>

		</div>

	</th:block>

</body>

</html>