<!doctype html>
<html xmlns:th="http://thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{ranking.title}+' | '+ #{shop.title.customize}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="">
	<div class="section-ja">
		<h2 class="section-en" th:text="#{sort.ranking.title}"></h2>

	</div>
	<h2 th:text="${currentMonthText}" class="section-text"></h2>

	<p class="section-text">人気の商品をランキング形式でご紹介します</p>
	</div>


	<!-- カテゴリ表示 -->
	<div class="category-area">
		<a th:href="@{/client/item/ranking}" th:text="すべて" class="category-link">
		</a>
		<th:block th:each="category : ${categories}">
			<a th:href="@{/client/item/ranking(categoryId=${category.id})}" th:text="${category.name}"
				class="category-link">
			</a>
		</th:block>
	</div>

	<!-- ランキング商品表示-->
	<div class="ranking-list">

		<a th:each="item, stat : ${rankings}" th:if="${stat.index < 10}" th:href="@{/client/item/detail/}+${item.id}"
			class="ranking-item">

			<!-- 順位 -->
			<div class="ranking-number">
				<span th:text="${stat.count} + '位'"></span>
			</div>

			<div class="ranking-image">
				<!--商品画像がある場合-->
				<img th:if="${item.image != null}" th:src="@{|/images/${item.image}|}"
					style="width: 100%; height: 100%; object-fit: cover;" />
				<!-- 画像がない場合-->
				<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}"
					style="width: 100%; height: 100%; object-fit: cover;" />
			</div>

			<!-- 商品情報 -->
			<div class="ranking-info">
				<div class="ranking-name" th:text="${item.name}">
				</div>

				<div class="ranking-price" th:text="|￥${#numbers.formatInteger(item.price,3,'COMMA')}|">
				</div>
			</div>

		</a>


	</div>


	<!-- 今月のランキング商品がない場合の表示 -->
	<div th:if="${#lists.isEmpty(rankings)}" class="no-rank">
	    <p>今月のランキングデータはありません。</p>
	</div>
	
	<!-- ボタン -->
	<div class="detail_button_area">

		<form th:action="@{/}" method="post">
			<input type="submit" value="戻る" class="back_button" />
		</form>

	</div>
	
</body>

</html>