<!doctype html>
<html xmlns:th="http://thymeleaf.org" th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{ranking.title}+' | '+ #{shop.title.customize}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="">
	<div class="flex flex-col w-full">
		<div class="text-center mt-5">
			<h1 class="font-medium text-4xl mb-2">ランキング</h1>
			<h2 th:text="${currentMonthText}" class="text-gray-400"></h2>
			<div class="text-xs text-gray-400">人気の商品をランキング形式でご紹介します</div>
		</div>

		<!-- カテゴリ表示 -->
		<div>
			<a th:href="@{/client/item/ranking}" th:if="${categoryId_ == null}"
				class=" text-xs mx-2 px-8 py-1 bg-[#FFF7F4] rounded-2xl shadow-md ">すべて</a>
			<a th:href="@{/client/item/ranking}" th:unless="${categoryId_ == null}"
				class=" text-xs mx-2 px-8 py-1 rounded-2xl border border-gray-100 hover:bg-[#FFF7F4] transition duration-300">すべて</a>
		</div>
		<div class="text-center mt-6">
			<th:block th:each="category : ${categories}">
				<!-- クリック時にカテゴリIDをURLパラメータとして送信するリンク -->
				<a th:href="@{/client/item/ranking(categoryId=${category.id})}" th:text="${category.name}"
					class="text-xs mx-2 px-8 py-1 bg-[#FFF7F4] rounded-2xl shadow-md inline-block">
				</a>
			</th:block>
		</div>

		<!-- ランキング商品表示-->
		<div class="flex flex-row justify-center min-h-100 flex-wrap gap-6 mt-10" th:if="${!#lists.isEmpty(rankings)}">

			<div th:each="item, stat : ${rankings}" th:if="${stat.index &lt; 10}"
				class="flex mt-5 w-65 bg-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">


				<a th:href="@{/client/item/detail/}+${item.id}"
					style="display: block; width: 150px; height: 150px; overflow: hidden; background-color: #f5f5f5;">
					<!--				画像があるとき-->
					<img th:src="@{/images/{image}(image=${item.image})}" th:if="${item.image != null}"
						style="width: 100%; height: 100%; object-fit: cover;" />
					<!--				画像がないとき-->
					<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}"
						style="width: 100%; height: 100%; object-fit: cover;" />
				</a>

				<!-- 順位バッジの表示 -->
				<div class="absolute top-4 left-4">
					<span class="bg-white pr-3 pl-7 py-2 rounded-full shadow-md font-bold"
						th:text="${stat.count} + '位'">

					</span>
				</div>

			</div>


		</div>
		</a>

	</div>
	</div>

	<!-- 今月のランキング商品がない場合の表示 -->
	<div th:if="${#lists.isEmpty(rankings)}" class="flex justify-center items-center min-h-100 mt-10">
		<p class="text-gray-400 text-lg">今月のランキングデータはありません。</p>
	</div>
	</div>
</body>

</html>