<!doctype html>
<html xmlns:th="http://thymeleaf.org" th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{ranking.title}+' | '+ #{shop.title.customize}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="">
	<div class="flex flex-col w-full">
		<div class="text-center mt-5">
			<h1 class="font-medium text-4xl mb-2">ランキング</h1>
			<h2 th:text="${currentMonthText}" class="text-gray-400"></h2>
			<div class="text-xs text-gray-400">人気の商品をランキング形式でご紹介します</div>
		</div>



			<!--	 カテゴリーの表示 -->
			<div class="text-center mt-6">
				<th:block th:each="category : ${categories}">
					<!--  クリック時にカテゴリーIDをURLパラメータとして送信するリンクに変更 -->
					<a th:href="@{/client/item/ranking/(categoryId=${category.id})}" th:text="${item.category.name}"
						th:if="${categoryId_ == category.id}"
						class="text-xs mx-2 px-8 py-1 bg-[#FFF7F4] rounded-2xl shadow-md "></a>
					<!--					<a th:href="@{/client/item/ranking/0(categoryId=${category.id})}" th:text="${category.name}"-->
					<!--						th:unless="${categoryId_ == category.id}"-->
					<!--						class=" text-xs mx-2 px-8 py-1 rounded-2xl border border-gray-100 hover:bg-[#FFF7F4] transition duration-300"></a>-->
				</th:block>
			</div>

			<!--				 ランキング商品の表示 -->
			<th:block th:each="rankings: ${rankings}" th:if="${stat.index &lt; 10}">
				<!-- Rank 1  -->
				<!--			データが1件以上ある場合のみ表示-->
<!--				<div th:if="${#lists.size(rankings) >= 1}" th:object="${rankings[0]}"-->
<!--					class="flex mt-15 w-65 bg-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">-->


					<a th:href="@{/client/item/detail/}+*{item.id}">
						<div class="relative">
						<div th:text="${stat.count}"></div>-->


							<img th:src="@{/images/{image}(image=*{item.image})}" th:if="*{item.image != null}"
								class="w-full h-75 object-cover" />


							<img th:src="@{/images/common/no_image.jpg}" th:if="*{item.image == null}"
								class="w-full h-75 object-cover" />

							<div class="absolute top-4 left-4">
<!--								<span class="bg-white pr-3 pl-7 py-2 rounded-full shadow-md font-bold">-->
<!--									1位-->
<!--								</span>-->
							</div>
							<img th:src="@{/images/common/crone.png}" class="w-5 absolute top-5 left-6">
						</div>

						<div class="pt-3 pb-3 px-6 text-left">

							<h2 class="text-lg mb-2" th:text="*{item.name}"></h2>
						</div>
					</a>

				</div>
			</th:block>
			<!--					1位から10位まで-->
			<!--					<div class="mt-4">-->
			<!--						<div class="flex justify-center ">-->
			<!--							<div th:if="${stat.count > 3}">-->
			<!--								<a th:href="@{/client/item/detail/}+${rankingItem.items.id}" class="flex items-center border border-gray-200 max-w-160 rounded-2xl shadow-sm hover:scale-105 transition duration-300">-->
			<!--													 順位（1位、2位…）を自動連番で表示 -->
			<!--									<div class="w-7 py-1 bg-gray-200 mx-4 rounded-full text-xs font-bold text-center" th:text="${stat.count}"></div>-->
			<!--									<div class="my-2">-->
			<!--										<img th:src="@{/images/sweets/{image}(image=${rankingItem.items.image})}"-->
			<!--											class="h-17 w-20 object-cover rounded-2xl" th:if="${rankingItem.items.image != null}" />-->
			<!--										<img th:src="@{/images/common/no_image.jpg}"-->
			<!--											th:if="${rankingItem.items.image == null}" />-->
			<!--									</div>-->



			<!--									<div class="w-150 text-left ml-4">-->
			<!--										<div class="text-gray-600 text-xs font-bold" th:text="${rankingItem.items.name}"></div>-->

			<!--										<div class="text-[10px] mt-3">-->
			<!--											<span class="text-pink-500">↗</span>-->
			<!--											<span class="text-pink-500">人気度</span>-->
			<!--											<span class="text-pink-500">↗</span>-->
			<!--										<span th:text="${rankingItem.total} + 個"  class="text-pink-500"></span>-->
			<!--										</div>-->
			<!--									</div>-->

			<!--								</a>-->
			<!--							</div>-->
			<!--						</div>-->
			<!--					</div>-->
			<!--			<div class="flex-col mt-15" th:if="${! (#lists.isEmpty(rankingItems))}">-->
			<!--				  th:if="${stat.index &lt; 10}" で画面上の表示を10位までに制限 -->
			<!--				<div class="flex flex-row justify-center min-h-100 flex-wrap">-->


			<!--					 Rank 2 -->
			<!--					<div th:object="${rankingItems[1]}"-->
			<!--						class="flex mt-15 w-65 bg-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">-->

			<!--						<a th:href="@{/client/item/detail/}+${rankingItems[1].items.id}">-->
			<!--							<div class="relative">-->
			<!--								<img th:src="@{/images/sweets/{image}(image=${rankingItems[1].items.image})}"-->
			<!--									th:if="${rankingItems[1].items.image != null}" class="w-full h-75 object-cover" />-->
			<!--								<img th:src="@{/images/common/no_image.jpg}"-->
			<!--									th:if="${rankingItems[1].items.image == null}" class="w-full h-75 object-cover" />-->
			<!--								<div class="absolute top-4 left-4">-->
			<!--									<span class="bg-white pr-3 pl-7 py-2 rounded-full shadow-md font-bold">-->
			<!--										2位-->
			<!--									</span>-->
			<!--								</div>-->
			<!--								<img th:src="@{/images/common/crone.png}" class="w-5 absolute top-5 left-6">-->
			<!--							</div>-->

			<!--							<div class="pt-3 pb-3 px-6 text-left">-->
			<!--								<h2 class="text-lg mb-2" th:text="${rankingItems[1].items.name}">-->
			<!--								</h2>-->


			<!--							</div>-->
			<!--						</a>-->

			<!--					</div>-->

			<!--					 Rank 1 -->
			<!--					<div th:object="${rankingItems[0]}"-->
			<!--						class="mb-5 mx-3 w-65 bg-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">-->

			<!--						<a th:href="@{/client/item/detail/}+${rankingItems[0].items.id}">-->
			<!--							<div class="relative">-->
			<!--								<img th:src="@{/images/sweets/{image}(image=${rankingItems[0].items.image})}"-->
			<!--									th:if="${rankingItems[0].items.image != null}" class="w-full h-85 object-cover" />-->
			<!--								<img th:src="@{/images/common/no_image.jpg}"-->
			<!--									th:if="${rankingItems[0].items.image == null}" class="w-full h-75 object-cover" />-->
			<!--								<div class="absolute top-4 left-4">-->
			<!--									<span class="bg-white pr-3 pl-7 py-2 rounded-full shadow-md font-bold">-->
			<!--										1位-->
			<!--									</span>-->
			<!--								</div>-->
			<!--								<img th:src="@{/images/common/crone.png}" class="w-5 absolute top-5 left-6">-->
			<!--							</div>-->

			<!--							<div class="pt-3 pb-3 px-6 text-left">-->
			<!--								<h2 class="text-lg mb-2" th:text="${rankingItems[0].items.name}">-->
			<!--								</h2>-->

			<!--								 Rating -->
			<!--								<div class="flex items-center gap-2 mb-3">-->
			<!--									<span class="text-yellow-400">★★★★</span><span class="text-gray-300">★</span>-->
			<!--									<span class="text-gray-600">4.9</span>-->
			<!--								</div>-->

			<!--								 Statistics -->
			<!--								<div class="flex gap-6 text-gray-600">-->
			<!--									<div class="flex items-center gap-2">-->
			<!--										<span class="text-pink-500">↗</span>-->
			<!--										<span class="text-pink-500">人気度</span>-->
			<!--									</div>-->

			<!--									<div class="flex items-center gap-2">-->
			<!--										<span class="text-pink-500">↗</span>-->
			<!--										<span th:text="${rankingItems[0].total} + 個" class="text-pink-500"></span>-->
			<!--									</div>-->
			<!--								</div>-->
			<!--							</div>-->
			<!--						</a>-->

			<!--					</div>-->

			<!--					 Rank 3 -->
			<!--					<div th:object="${rankingItems[2]}"-->
			<!--						class="mt-15 w-65 bg-white rounded-3xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">-->

			<!--						<a th:href="@{/client/item/detail/}+${rankingItems[2].items.id}">-->
			<!--							<div class="relative">-->
			<!--								<img th:src="@{/images/sweets/{image}(image=${rankingItems[2].items.image})}"-->
			<!--									th:if="${rankingItems[2].items.image != null}" class="w-full h-75 object-cover" />-->
			<!--								<img th:src="@{/images/common/no_image.jpg}"-->
			<!--									th:if="${rankingItems[2].items.image == null}" class="w-full h-75 object-cover" />-->
			<!--								<div class="absolute top-4 left-4">-->
			<!--									<span class="bg-white pr-3 pl-7 py-2 rounded-full shadow-md font-bold">-->
			<!--										3位-->
			<!--									</span>-->
			<!--								</div>-->
			<!--								<img th:src="@{/images/common/crone.png}" class="w-5 absolute top-5 left-6">-->
			<!--							</div>-->

			<!--							<div class="pt-3 pb-3 px-6 text-left">-->
			<!--								<h2 class="text-lg mb-2" th:text="${rankingItems[2].items.name}">-->
			<!--								</h2>-->

			<!--								 Rating -->
			<!--								<div class="flex items-center gap-2 mb-3">-->
			<!--									<span class="text-yellow-400">★★★★</span><span class="text-gray-300">★</span>-->
			<!--									<span class="text-gray-600">4.8</span>-->
			<!--								</div>-->

			<!--								 Statistics -->
			<!--								<div class="flex gap-6 text-gray-600">-->
			<!--									<div class="flex items-center gap-2">-->
			<!--										<span class="text-pink-500">↗</span>-->
			<!--										<span class="text-pink-500">人気度</span>-->
			<!--									</div>-->

			<!--									<div class="flex items-center gap-2">-->
			<!--										<span class="text-pink-500">↗</span>-->
			<!--										<span th:text="${rankingItems[2].total} + 個" class="text-pink-500"></span>-->
			<!--									</div>-->
			<!--								</div>-->
			<!--							</div>-->
			<!--						</a>-->

			<!--					</div>-->
			<!--				</div>-->

			<!--				<th:block th:each="rankingItem, stat : ${rankingItems}" th:if="${stat.index &lt; 10}">-->
			<!--					1位から10位まで-->
			<!--					<div class="mt-4">-->
			<!--						<div class="flex justify-center ">-->
			<!--							<div th:if="${stat.count > 3}">-->
			<!--								<a th:href="@{/client/item/detail/}+${rankingItem.items.id}" class="flex items-center border border-gray-200 max-w-160 rounded-2xl shadow-sm hover:scale-105 transition duration-300">-->
			<!--													 順位（1位、2位…）を自動連番で表示 -->
			<!--									<div class="w-7 py-1 bg-gray-200 mx-4 rounded-full text-xs font-bold text-center" th:text="${stat.count}"></div>-->
			<!--									<div class="my-2">-->
			<!--										<img th:src="@{/images/sweets/{image}(image=${rankingItem.items.image})}"-->
			<!--											class="h-17 w-20 object-cover rounded-2xl" th:if="${rankingItem.items.image != null}" />-->
			<!--										<img th:src="@{/images/common/no_image.jpg}"-->
			<!--											th:if="${rankingItem.items.image == null}" />-->
			<!--									</div>-->



			<!--									<div class="w-150 text-left ml-4">-->
			<!--										<div class="text-gray-600 text-xs font-bold" th:text="${rankingItem.items.name}"></div>-->

			<!--										<div class="text-[10px] mt-3">-->
			<!--											<span class="text-pink-500">↗</span>-->
			<!--											<span class="text-pink-500">人気度</span>-->
			<!--											<span class="text-pink-500">↗</span>-->
			<!--										<span th:text="${rankingItem.total} + 個"  class="text-pink-500"></span>-->
			<!--										</div>-->
			<!--									</div>-->

			<!--								</a>-->
			<!--							</div>-->
			<!--						</div>-->
			<!--					</div>-->

			<!--				</th:block>-->





			<!--			</div>-->

			<!-- 今月のランキング商品がない場合の表示 -->
			<div th:if="${#lists.isEmpty(rankingItems)}" class="flex justify-center items-center min-h-100">
				<p>今月のランキングデータはありません。</p>
			</div>
		</div>
</body>

</html>