<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{item}+#{title.update.input}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin item_update_input">
  <div  id="adminItemInput"> 
	<h2 th:class="title" th:text="#{item}+#{title.update.input}"></h2>
	<p th:class="input_message" th:text="#{msg.update.input}"></p>

	<div class="user_info_form_area">
		<form th:action="@{/admin/item/update/check}" enctype="multipart/form-data" method="post"
			th:object="${itemForm}">
			<th:block th:if="${#fields.hasErrors()}">
				<ul class="error_list">
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</th:block>
			<ul class="input_list">
				<!-- ★ここが重要です：これが無いと更新時にIDがnullになります -->
				    <input type="hidden" th:field="*{id}" />
				<li>
					<label><span class="input_title">[[#{itemForm.name}]]</span></label>
					<input type="text" th:field="*{name}" />
				</li>
				<li>
					<label><span class="input_title">[[#{itemForm.price}]]</span></label>
					<input type="text" th:field="*{price}" />
				</li>
				<li>
					<label><span class="input_title">[[#{itemForm.stock}]]</span></label>
					<input type="text" th:field="*{stock}" />
				</li>
				<li>
					<label><span class="input_title">[[#{data.category}]]</span></label>
					<select name="categoryId">
						<option th:each="category: ${categories}" th:value="${category.id}"
							th:selected="${category.id == itemForm.categoryId}" th:text="${category.name}"></option>
					</select>
				</li>
				<!-- JSON関連項目 -->
				<li
					th:if="*{categoryId == 1 or categoryId == 2 or categoryId == 3 or categoryId == 4 or categoryId == 5 or categoryId == 6}">
					<label><span class="input_title">[[#{itemForm.varNumber}]]</span></label>
					<input type="text" th:field="*{varNumber}" />
				</li>
				<li
					th:if="*{categoryId == 1 or categoryId == 2 or categoryId == 3 or categoryId == 4 or categoryId == 6}">
					<label><span class="input_title">[[#{itemForm.colorPattern}]]</span></label>
					<input type="text" th:field="*{colorPattern}" />
				</li>
				<li th:if="*{categoryId == 1 or categoryId == 3}">
					<label><span class="input_title">[[#{itemForm.nibDiameter}]]</span></label>
					<input type="text" th:field="*{nibDiameter}" />
				</li>
				<li th:if="*{categoryId == 2 or categoryId == 6}">
					<label><span class="input_title">[[#{itemForm.leadDiameter}]]</span></label>
					<input type="text" th:field="*{leadDiameter}" />
				</li>
				<li th:if="*{categoryId == 5}">
					<label><span class="input_title">[[#{itemForm.inkVolume}]]</span></label>
					<input type="text" th:field="*{inkVolume}" />
				</li>
				<!-- JSON関連項目 ここまで -->
				<!-- 追加分(刻印機能） -->
				<li class="input_field">
					<label class="input_title">刻印サービス</label>
					<div class="checkbox_container">
						<input type="checkbox" th:field="*{isEngravable}" value="1" id="isEngravable" />
					</div>
				</li>
				<!-- 追加分(刻印機能）終わり -->
				<li>
					<label>
						<span class="input_title">[[#{itemForm.description}]]</span>
						<textarea style="width:100%;"  th:field="*{description}"></textarea>
					</label>
				</li>
				<li>
					<label><span class="input_title">[[#{data.item.image}]]</span></label>
					<input type="file" id="upload_file" th:field="*{imageFile}" />
					<span th:unless="*{#strings.isEmpty(image)}">
						<img th:src="@{/images/{image}(image=*{image})}"></img>
					</span>
					<span th:if="*{#strings.isEmpty(image)}">
						<img th:src="@{/images/common/no_image.jpg}"></img>
					</span>
				</li>
			</ul>
			<input type="hidden" th:field="*{id}" />
			<input type="submit" value="確認" class="send_button" />
		</form>
		<form th:action="@{/admin/item/detail/{id}(id=${itemForm.id})}" method="post">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
	</div>
</body>

</html>