<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
   <title th:text="#{prize}+#{title.update.complete}+' | '+ #{shop.title}"> </title>
    <meta charset="UTF-8" />
</head>

<body>

<div class="complete-container">

    <div class="complete-card">

        <div class="check-icon">
            ✓
        </div>

        <h1>景品変更完了</h1>

        <p>
         景品の変更が正常に完了しました。
        </p>

        <a th:href="@{/admin/prize/list}" class="home-btn">
          ホームへ戻る
        </a>

    </div>

</div>

</body>
</html>
